<h1>Order History</h1>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>OrderId</th>
            <th>TotalPrice</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01/12/2025 6:01:13 AM</td>
            <td>1</td>
            <td>19.09</td>
            <td><a href="#">View Order</a></td>
        </tr>
        <tr>
            <td>02/12/2025 7:15:43 AM</td>
            <td>2</td>
            <td>31.62</td>
            <td><a href="#">View Order</a></td>
        </tr>
    </tbody>
</table>

