<h1>Review History</h1>

<table class="table">
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Product</th>
            <th>Rating</th>
            <th>Review</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>05/01/2025 10:07:37 AM</td>
            <td>Product A</td>
            <td>5</td>
            <td>Excellent</td>
            <td><a href="#">Edit</a> | <a href="#">Delete</a></td>
        </tr>
        <tr>
            <td>10/03/2025 3:23:53 PM</td>
            <td>Product B</td>
            <td>4</td>
            <td>Good</td>
            <td><a href="#">Edit</a> | <a href="#">Delete</a></td>
        </tr>
        <tr>
            <td>15/04/2025 8:43:29 PM</td>
            <td>Product C</td>
            <td>3</td>
            <td>Average</td>
            <td><a href="#">Edit</a> | <a href="#">Delete</a></td>
        </tr>
        <tr>
            <td>01/09/2025 8:07:53 AM</td>
            <td>Product D</td>
            <td>2</td>
            <td>Poor</td>
            <td><a href="#">Edit</a> | <a href="#">Delete</a></td>
        </tr>
    </tbody>
</table>
